<aside class="anyun-sidebar">
	<div class="anyun-sidebar-logo">
		<a href="/" role="button" aria-label="切换侧栏" aria-expanded="true">
			<img class="anyun-logo-full" src="/static/img/yaozhen-logo.svg" alt="尧瑧科技">
			<img class="anyun-logo-mark" src="/static/img/yaozhen-mark.svg" alt="尧瑧科技">
		</a>
	</div>
	<nav class="anyun-sidebar-nav">
		@for(title in titles){
			@if(tool.isEmpty(title.children)){
			<a href="#term-${title.id}" class="smooth">
				<i class="fa fa-fw ${title.icon}"></i>
				<span>${title.name}</span>
			</a>
			@}else{
			<div class="anyun-sidebar-group">
				<div class="anyun-sidebar-parent">
					<i class="fa fa-fw ${title.icon}"></i>
					<span>${title.name}</span>
				</div>
				@for(subTitle in title.children){
				<a href="#term-${subTitle.id}" class="smooth anyun-sidebar-child">${subTitle.name}</a>
				@}
			</div>
			@}
		@}
	</nav>
</aside>
